@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    background: rgb(164,242,255);
    background: linear-gradient(32deg, rgba(164,242,255,1) 0%, rgba(227,174,255,1) 68%);
      height:100vh;
    color:#000;
}

h1{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    letter-spacing: 5px;
    font-size: 2em;
    margin-bottom: 1em;
}

